<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Empleados</title>

    <!-- Agrega los enlaces a los archivos CSS de Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>

<div class="container mt-5">
    <h2 class="mb-3">Lista de Empleados</h2>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Edad</th>
                <th scope="col">Área</th>
            </tr>
        </thead>
        <tbody>
            {% for empleado in empleados %}
                <tr>
                    <th scope="row">{{ empleado.id }}</th>
                    <td>{{ empleado.Nombre }}</td>
                    <td>{{ empleado.Apellido }}</td>
                    <td>{{ empleado.Edad }}</td>
                    <td>{{ empleado.Areaid }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Agrega el enlace al archivo JavaScript de Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-rv3tc5PcHpzD7Xsc3HjHrOpG9EMBY0LT9aPIsNFAJkMI5lrVvlHgAz7H6Ti1wCb6" crossorigin="anonymous"></script>

</body>
</html>
